@import url('https://unpkg.com/leaflet@1.7.1/dist/leaflet.css');

#root {
  height: 100vh;
  width: 100%;
  
}

.app {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.leaflet-container {
  height: 50vh;
  width: 70%;
  margin: 20px 0;
  border: 2px solid #ccc;
  border-radius: 8px;
}

h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

form {
  width: 70%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.response-data {
  width: 70%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-family: 'Courier New', Courier, monospace;
  color: #333;
}

.error-message {
  width: 70%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ff0000;
  border-radius: 8px;
  background-color: #ffe6e6;
  color: #ff0000;
  font-weight: bold;
}

h3 {
  margin-top: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}